# Emission de gaz à effet de serre

### Importation des données

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
data_sector = pd.read_csv('./data/co-emissions-by-sector.csv')
data_sector.head()

,Entity,Code,Year,Carbon dioxide emissions from buildings,Carbon dioxide emissions from industry,Carbon dioxide emissions from land use change and forestry,Carbon dioxide emissions from other fuel combustion,Carbon dioxide emissions from transport,Carbon dioxide emissions from manufacturing and construction,Fugitive emissions of carbon dioxide from energy production,Carbon dioxide emissions from electricity and heat,Carbon dioxide emissions from bunker fuels
0,Afghanistan,AFG,1990,129999.99,50000.0,-2390000.0,0.0,980000.0,570000.0,NaN,320000.0,20000.0
1,Afghanistan,AFG,1991,140000.00,50000.0,-2390000.0,0.0,930000.0,530000.0,NaN,300000.0,20000.0
2,Afghanistan,AFG,1992,150000.00,50000.0,-2390000.0,0.0,740000.0,390000.0,NaN,200000.0,20000.0
3,Afghanistan,AFG,1993,160000.00,50000.0,-2390000.0,0.0,740000.0,380000.0,NaN,200000.0,20000.0
4,Afghanistan,AFG,1994,160000.00,50000.0,-2390000.0,0.0,730000.0,360000.0,NaN,190000.0,20000.0

In [3]:
data_temp = pd.read_csv('./data/city_temperature.csv')
data_temp.head()

/var/folders/pl/0y6c2sfj0md5g3gx0c12lmrw0000gn/T/ipykernel_51097/3702483461.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_temp = pd.read_csv('./data/city_temperature.csv')

   Region  Country State     City  Month  Day  Year  AvgTemperature
0  Africa  Algeria   NaN  Algiers      1    1  1995            64.2
1  Africa  Algeria   NaN  Algiers      1    2  1995            49.4
2  Africa  Algeria   NaN  Algiers      1    3  1995            48.8
3  Africa  Algeria   NaN  Algiers      1    4  1995            46.4
4  Africa  Algeria   NaN  Algiers      1    5  1995            47.9

In [4]:
# lister les les entity de data_sector
data_sector['Entity'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Asia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe', 'European Union (27)',
       'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'High-income countries',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Low-income countries',
       'Lower-middle-income countries', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America', 'North Korea', 'North Macedonia',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan',
       'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Upper-middle-income countries', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'World', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [7]:
# lister les les entity de data_temp
data_temp['Country'].unique()

array(['Algeria', 'Burundi', 'Benin', 'Central African Republic', 'Congo',
       'Egypt', 'Ethiopia', 'Gabon', 'Gambia', 'Guinea', 'Guinea-Bissau',
       'Ivory Coast', 'Kenya', 'Morocco', 'Madagascar', 'Mauritania',
       'Malawi', 'Mozambique', 'Namibia', 'Nigeria', 'Senegal',
       'Sierra Leone', 'South Africa', 'Togo', 'Tunisia', 'Tanzania',
       'Uganda', 'Zambia', 'Bangladesh', 'China', 'Hong Kong', 'India',
       'Indonesia', 'Japan', 'Kazakhstan', 'Kyrgyzstan', 'Laos',
       'Malaysia', 'Mongolia', 'Myanmar (Burma)', 'Nepal', 'North Korea',
       'Pakistan', 'Philippines', 'Singapore', 'South Korea', 'Sri Lanka',
       'Taiwan', 'Tajikistan', 'Thailand', 'Turkmenistan', 'Uzbekistan',
       'Vietnam', 'Australia', 'New Zealand', 'Albania', 'Austria',
       'Belarus', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus',
       'Czech Republic', 'Denmark', 'Finland', 'France', 'Germany',
       'Georgia', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy',
       'Latvia', 'Macedonia', 'The Netherlands', 'Norway', 'Poland',
       'Portugal', 'Romania', 'Russia', 'Serbia-Montenegro', 'Slovakia',
       'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom',
       'Yugoslavia', 'Bahrain', 'Israel', 'Jordan', 'Kuwait', 'Lebanon',
       'Oman', 'Qatar', 'Saudi Arabia', 'Syria', 'Turkey',
       'United Arab Emirates', 'Canada', 'Mexico', 'Argentina', 'Bahamas',
       'Bermuda', 'Belize', 'Bolivia', 'Barbados', 'Brazil', 'Colombia',
       'Costa Rica', 'Cuba', 'Dominican Republic', 'Equador', 'Guatemala',
       'Guyana', 'Haiti', 'Honduras', 'Nicaragua', 'Panama', 'Peru',
       'Suriname', 'Uruguay', 'Venezuela', 'US'], dtype=object)

In [10]:
# comparer les deux listes, on va essayer de trouver les correspondances entre les deux listes
common_entities = set(data_sector['Entity']).intersection(set(data_temp['Country']))
print(common_entities)

# afficher ceux qui ne correspondent pas
sector_entities = set(data_sector['Entity'])
temp_entities = set(data_temp['Country'])
non_common_entities = sector_entities.symmetric_difference(temp_entities)
print(non_common_entities)

{'Ukraine', 'Pakistan', 'Belgium', 'Cuba', 'China', 'Congo', 'Nicaragua', 'Sri Lanka', 'Haiti', 'Italy', 'Panama', 'Finland', 'United Arab Emirates', 'Turkey', 'Costa Rica', 'Belize', 'Guyana', 'Oman', 'Namibia', 'Morocco', 'Guinea', 'Georgia', 'Tunisia', 'Russia', 'India', 'Romania', 'Mexico', 'Belarus', 'Dominican Republic', 'Ethiopia', 'Gambia', 'Laos', 'Cyprus', 'Tanzania', 'Bahrain', 'Germany', 'Kenya', 'Togo', 'Australia', 'Greece', 'United Kingdom', 'Syria', 'Austria', 'Egypt', 'Israel', 'Peru', 'Senegal', 'Tajikistan', 'Singapore', 'Poland', 'Albania', 'Bangladesh', 'Uganda', 'Bahamas', 'Qatar', 'Canada', 'Sierra Leone', 'Kazakhstan', 'Nepal', 'Nigeria', 'France', 'Madagascar', 'Mauritania', 'Japan', 'Slovakia', 'Iceland', 'Guatemala', 'Vietnam', 'Jordan', 'Suriname', 'Norway', 'Guinea-Bissau', 'Philippines', 'Barbados', 'Zambia', 'Switzerland', 'Central African Republic', 'Brazil', 'Ireland', 'South Korea', 'Hungary', 'Portugal', 'Benin', 'Venezuela', 'South Africa', 'New Zealand', 'Indonesia', 'Latvia', 'Saudi Arabia', 'Malaysia', 'Denmark', 'Malawi', 'Bulgaria', 'Spain', 'Algeria', 'Gabon', 'Lebanon', 'North Korea', 'Mozambique', 'Kyrgyzstan', 'Kuwait', 'Mongolia', 'Argentina', 'Honduras', 'Colombia', 'Croatia', 'Sweden', 'Bolivia', 'Thailand', 'Burundi', 'Uruguay', 'Uzbekistan', 'Turkmenistan'}
{'High-income countries', 'El Salvador', 'Saint Vincent and the Grenadines', 'Yemen', 'Cameroon', 'Montenegro', 'Equatorial Guinea', 'Eritrea', 'Equador', 'Cook Islands', 'Taiwan', 'Ghana', 'World', 'Afghanistan', 'Antigua and Barbuda', 'Chile', 'Comoros', 'Iran', 'Samoa', 'Grenada', 'Cape Verde', 'Africa', 'Europe', 'Ecuador', 'Fiji', 'Saint Lucia', 'Czechia', 'Vanuatu', 'Tuvalu', 'Tonga', 'Kiribati', 'Bermuda', 'Netherlands', 'Low-income countries', 'Palau', 'Dominica', 'Zimbabwe', 'Oceania', 'North America', 'Nauru', 'Serbia-Montenegro', 'Czech Republic', 'East Timor', 'Mauritius', 'Burkina Faso', 'Estonia', 'United States', 'Paraguay', 'South Sudan', 'Democratic Republic of Congo', 'Marshall Islands', 'Bhutan', 'Liechtenstein', 'Cambodia', 'Slovenia', 'Seychelles', 'Papua New Guinea', 'Niue', 'Hong Kong', 'Malta', 'South America', 'Iraq', 'Andorra', 'Saint Kitts and Nevis', 'Mali', 'Sao Tome and Principe', 'Lithuania', 'Azerbaijan', 'Liberia', 'Trinidad and Tobago', 'Lesotho', 'Eswatini', 'Solomon Islands', 'Macedonia', 'The Netherlands', 'Serbia', 'Libya', 'Niger', 'Rwanda', 'Upper-middle-income countries', 'Maldives', 'US', 'Luxembourg', 'Asia', 'Chad', 'Moldova', 'Yugoslavia', 'Djibouti', 'North Macedonia', 'Sudan', 'Jamaica', 'Ivory Coast', 'Myanmar (Burma)', 'Angola', 'Bosnia and Herzegovina', 'Armenia', 'Lower-middle-income countries', 'Botswana', 'European Union (27)', "Cote d'Ivoire", 'Brunei', 'Myanmar', 'Micronesia (country)', 'Somalia'}

In [11]:
import folium
import pandas as pd

# Charger le dataset des températures
data_temp = pd.read_csv('./data/city_temperature.csv')

# Extraire les pays uniques
unique_countries = data_temp['Country'].dropna().unique()

# Créer une carte de base centrée sur le monde
map_countries = folium.Map(location=[20, 0], zoom_start=2, tiles="cartodbpositron")

# Ajouter des marqueurs pour chaque pays
for country in unique_countries:
    folium.Marker(location=[0, 0], popup=country).add_to(map_countries)  # Placeholder coordinates

# Afficher la carte dans un fichier HTML
map_countries.save("map_countries.html")
print("Carte sauvegardée dans map_countries.html. Ouvrez ce fichier dans un navigateur.")

/var/folders/pl/0y6c2sfj0md5g3gx0c12lmrw0000gn/T/ipykernel_51097/61945051.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_temp = pd.read_csv('./data/city_temperature.csv')

Carte sauvegardée dans map_countries.html. Ouvrez ce fichier dans un navigateur.

In [ ]:
# je veux merge les 2 dataframes sur les colonnes "Entity" et "Year" de data_sector et "Country" et "Year" de data_temp

In [5]:
data_sector = data_sector.rename(columns={'country': 'Country'})

data = pd.merge(data_sector, data_temp, on='Country')

In [6]:
data.head()

Empty DataFrame
Columns: [Country, date, sector, value, timestamp, dt, AverageTemperature, AverageTemperatureUncertainty, City, Latitude, Longitude]
Index: []

### Traitement des données

In [ ]:
#